body {
  margin: 0;
  box-sizing: border-box;
  width: 360px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  padding: 5px;
}

#trigger {
  font-size: 12px;
  padding: 8px 0;
  height: 43px;
  box-sizing: border-box;
  background: #0996f8;
  border: 1px solid #0060df;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  margin: auto;
  display: block;
  width: calc(100% - 6px);
}

#trigger:disabled {
  cursor: default;
  background: #bbcfdc;
  border: 1px solid #a2bcdd;
}

#bar {
  display: flex;
  align-items: center;
  position: relative;
  color: #fff;
  padding: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#bar:empty {
  display: none;
}

#bar.success {
  background: #28a745;
  border-bottom-color: #1a5f2a;
}

#bar.danger {
  background: #dc3545;
  border-bottom-color: #d54451;
}

/* #bar.success::before,
#bar.danger::before{
  color: inherit;
  width: 18px;
  height: 18px;
  display: inline-block;
  content: "";
  margin-right: 5px;
}

#bar.success::before {
  background-image: url("./https.svg");
}

#bar.danger::before {
  background-image: url("./http.svg");
} */


#login-form, #logout-form {
  display: none;
  padding: 5px;
  box-sizing: border-box;
  height: 36px;
}

form > button {
  float: right;
}

p {
  margin: 0;
  display: inline;
}

input {
  width: 120px;
}

#bar-user {
  font-style: italic;
}

#bar-license {
  text-transform: uppercase;
  font-weight: bold;
}