<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Marko example</title>
    <lasso-head/>
  </head>
  <body>
    <h1>Hello ${data.name}</h1>
     <lasso-body/>
  </body>
</html>