class {}

style {
  #welcome-msg > h2 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }
}
<div#welcome-msg>
  <h2 if(input.user)>Welcome ${input.user.name}!</h2>
  <h2 else>Welcome guest!</h2>
</div>